/*-------------------------------------------------------------------------
 * Autor: German Mendoza
 * correo: german.mendoza.187@gmail.com
 * Fecha de publicación: 14/01/2015
 * Version: 1.0
 * Copyright: German Mendoza, en caso de distribución colocar mis referencias
 * Descripcion: Colores para la página
 *
 *   DEPENDENCIAS
 *  - bootstrap.css
 *  - colors.less
 *
 *-------------------------------------------------------------------------*/
@import './less/color.less';
@import './less/mixins.less';

*{
    font-family: 'Oswald', sans-serif;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.no-border{
    border-left: 0px !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
}

.border-right{
    border-right: 1px solid;
    border-color: @gray-font;
}

.gym-top-bar{
    background: @gray-bg;
    .container {
        ul{
            li{
                a{
                    color: @gray-font;
                    font-weight: lighter;
                    height: 35px;
                    padding-bottom: 0px;
                    padding-top: 7px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                a:hover{
                    color: @white-font;
                }

            }
        }
    }

}


.gym-nav-bar{
    background: @violet-bg;
    .container{
        .navbar-header{
            .navbar-brand{

                padding: 0px;
                img{
                    height: 65px;
                }
            }
        }

        .navbar-collapse{



        }
    }


}

.navbar-default .navbar-nav>li>a {
    color: @white-font;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: @white-font;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color: @white-font;
    background-color: transparent;
}


.gym-navbar-global{
    margin-bottom: 0px;
    border-bottom: 0px
}

.gym-button{
    button{
        background-color: @yellow-brand;
        color: @violet-bg;
        letter-spacing: 1px;
        padding: 10px 20px;
    }

    input{
        padding: 10px 20px;
        width: 300px;
        text-align: left;
    }
    .gym-btn-arrow{
        padding-left: 0px;
        background: @yellow-light-bg;
        padding-right: 5px;
        .border-radiuses (5px, 5px, 0px,0px);

        .gym-btn-ins-text{
            visibility: hidden;
        }

        .gym-btn-ins-caret{
            background-image: url('./images/icon-violet-arrow.png');
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            float: left;
            margin-left: 10px;
        }
    }

    .gym-btn-text{
        .border-radiuses (0px, 0px, 5px,5px);
    }

    .gym-btn-yellow{
        background: @yellow-brand;
    }
}

.gym-titles{
    h1{
        text-align: center;
        font-size: 20px;
        letter-spacing: 1px;
        padding-bottom: 15px;
        padding-top: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-bottom: 1px solid;
        border-color: @white-font;

    }
}

.gym-arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f00;
}


.gym-menu-bar{
    margin-left: 50px;
    li{
        padding-left: 20px;
        padding-top: 5px;
        padding-right: 20px;
        a{
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 5px;
            font-weight: lighter;
            background: transparent;
            letter-spacing: 1px;
        }
        a:hover{
            color: @white-font !important;
            border-bottom: 1px solid;
            border-color: @white-font;
        }

        .dropdown-menu{
            border: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
            list-style-position: inside;
            list-style-type: circle;


            li{
                margin-top: 0px;
                margin-bottom: 0px;
                height: 50px;
                padding-top: 0px;
                padding-right: 0px;
                width: 300px;
                line-height: 4;


                a{
                    padding-top: 10px;
                    display: inline;

                }

                img{
                    float: right;
                }

                a:hover{
                    background: none;
                    color: @violet-bg !important;
                    text-decoration: none !important;
                    border: 0px solid;

                }

            }
            li:hover{
                background: @yellow-brand;

                a{
                    color: @violet-bg;
                    text-decoration: none !important;
                    border: 0px solid;
                }
            }
        }
    }

    .select{
        background-color: transparent;
        a{
            border-bottom: 1px solid;
            border-color: @white-font;
        }

        a:hover{
            border-color: @white-font;
            color: @white-font;
        }
    }


    li.open{
        background: @yellow-brand;
        padding-left: 20px;
        padding-right: 20px;
        height: 65px;

        a.dropdown-toggle{
            background: @yellow-brand;
            color: @violet-bg !important;
            .box-shadow(none);
        }

        a.dropdown-toggle:hover{
            text-decoration: none !important;
        }
    }

}

.losange, .losange div {
    border: 2px solid;
    border-color: @yellow-brand;
    float: left;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    transform-origin: 50% 50%;
  overflow: hidden;
  width: 37px;
  height: 37px;
}
.losange {
  transform: rotate(45deg) translateY(10px);
}
.losange .los1 {
  width: 50px;
  height: 50px;
  transform: rotate(-45deg) translateY(-30px) translateX(-11px);
}
.losange .los1 img {
  height: auto;
}

.gym-header-session{
    background: black;
    opacity: 0.8;

    .gym-prof-link {
        float: left;
        margin-top: 20px;
        margin-left: 40px;
        color: @white-font;

        div{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 130px;
            float: left;
        }

        img{
            margin-top: 7px;
            margin-left: 30px;
        }

    }

     label{
        margin-top: 20px;
        margin-left: 30;
        color: white;
        font-weight: lighter;
        letter-spacing: 1px;
    }

    .gym-num-sesion-cnt{

        .gym-num-sesion{
            background: @white-font;
            width: 45px;
            height: 45px;
            .border-radius(100px);
            float: left;
            border: 5px solid;
            .box-shadow(20px);
            text-align: center;
            margin-top: 10px;
            a{
                color: @violet-bg;
                font-weight: bold;
                line-height: 2.5;
            }
        }

        label{
            font-weight: lighter;
            letter-spacing: 1px;
            padding-right: 10px;
            border-right: 1px solid;
            border-color: @gray-bg;
            margin-left: 15px;
        }

        span{
            color: @yellow-brand;
            font-weight: lighter;
            margin-left: 10px;
        }
    }

    .gym-cnt-btn-head{
        padding-top: 10px;
    }

}

.gym-corouse{
    z-index: -1000;
    position: relative;
    margin-top: -65px;

    .carousel-control{
        background: black;
        height: 90px;
        width: 50px;
        margin-top: 230px;
    }

    .gym-carousel-l{
        width: 30px;
        height: 45px;
        margin-top: 20px;
        background: url('./images/icon-white-arrow-left.png')
    }
    .gym-carousel-r{
        width: 30px;
        height: 44px;
        margin-top: 20px;
        background: url('./images/icon-white-arrow-right.png')
    }

    .carousel-indicators{
        li{
            transform: rotate(45deg) translateY(10px);
            .border-radius(0px);
            border: 1px solid;
            border-color: @violet-bg;
            background: white;
            margin-left: 5px;
        }

        li.active{
            background: @violet-bg;
        }

    }





}

.gym-benefits{
    .gym-titles{
        background: @yellow-brand;
        h1{
            color: @gray-bg;
        }
    }

    .gym-benefits-text{
        border-right: 1px solid;
        border-color: @white-font;

        color: @white-font;
        height: 330px;

        text-align: center;
        img{
            margin-top: 20px;
        }

        .gym-ben-promo{
            margin-top: 30px;
            letter-spacing: 1;
            font-weight: lighter;
            font-size: 20px;
            span{
                color: @yellow-brand;
            }
        }

        .gym-ben-exp{
            font-size: 16px;
            font-weight: lighter;
            margin-top: 0px;
            padding-bottom: 26px;

        }
    }

    .gym-ben-bg-1{
        background-image: url('./images/benefits-bg-1.jpg');
        background-size: cover;
    }
    .gym-ben-bg-2{
        background-image: url('./images/benefits-bg-2.jpg');
        background-size: cover;


    }
    .gym-ben-bg-3{
        background-image: url('./images/benefits-bg-3.jpg');
        background-size: cover;

    }
    .gym-ben-bg-4{
        background-image: url('./images/benefits-bg-4.jpg');
        background-size: cover;

    }
}

.gym-plans{
    margin-top: 40px;
    .gym-titles{
        background: @gray-bg;
        h1{
            color: @yellow-brand;
        }
    }

    .gym-plan-cnt{
        background: @gray-bg;
        height: 330px;
        padding-left: 0px;
        padding-right: 0px;


        .gym-plan-title{
            text-align: center;
            h2{
                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 15px;
            }

        }

        .gym-plans-cost{
            margin-top: 30px;
            margin-left: 0px;

            a{
                color: @white-font;
            }

            a:hover{
                text-decoration: none;
            }


            .gym-plan-cost{
                text-align: center;
                letter-spacing: 1px;
                border-right: 1px solid;
                border-color: @yellow-brand;
                border-right-style: dotted;
                padding-bottom: 5px;
                padding-top: 5px;

                label{
                    font-weight: lighter;
                    font-size: 15px;
                    display: block;

                    span{
                        color: @yellow-brand;
                    }
                }

                .gym-cost{
                    font-size: 20px;

                }

                .gym-num-session{
                    font-size: 13px;
                    display: inline;
                }

            }

            .gym-plan-cost:hover{
                border: 2px solid;
                border-color: @yellow-brand;
                background: @gray-light-font;
            }

            .gym-plan-cost-l{
                margin-left: -31px;
                padding-left: 0px;
                margin-right: 30px;
            }

            .gym-plan-cost-l:hover{
                border: 2px solid !important;
                border-color: @yellow-brand !important;
                background: @gray-light-font;
            }




        }

        .gym-plan-btn{
            text-align: center;
            margin-top: 40px;
        }

    }

    .gym-plan-1{

        .gym-arrow-down{
            border-top-color: @yellow-brand;
            position: absolute;
            left: 45%;
        }
        .gym-plan-title{
            color: @violet-bg;
            background: @yellow-brand;
        }

    }

    .gym-plan-2{
        background-color: @violet-bg;

        .gym-arrow-down{
            border-top-color: @violet-opac-bg;
            position: absolute;
            left: 45%;
        }
        .gym-plan-title{
            color: @white-font;
            background: @violet-opac-bg;
        }

    }

    .gym-plan-3{

        .gym-arrow-down{
            border-top-color: @gray-light-bg;
            position: absolute;
            left: 45%;
        }
        .gym-plan-title{
            color: @gray-light-font;
            background: @gray-light-bg;
        }

        p{
            margin-top: 20px;
            margin-bottom: 89px;
            text-align: center;
            color: @white-font;
            font-size: 12px;
            letter-spacing: 1;
        }

    }

    .gym-plan-fot{
        background: @gray-bg;

        p{
            color: white;
            margin-top: 40px;
            margin-left: 40px;
            font-size: 12px;
            font-weight: lighter;
        }

    }


}

.gym-networks{
    background-image: url('./images/networks-bg.jpg');
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;

    .gym-networks-link{

        .gym-link-cnt{
            float: left;
            margin-left: 50px;


            a{
                color: @yellow-brand;

                img{
                    margin-left: 15px;
                    display: block;
                }
            }

        }


    }
}

.gym-headquarters{

    margin-top: 30px;

    .gym-titles{
        background: @gray-bg;
        color: @white-font;
    }

    .gym-hq-cnt{

        position:relative;
        overflow:hidden;
        padding: 0px;
        img{
            width: 100%;
            overflow:hidden;

        }


        .gym-cover{
            opacity: 0.8;
            position:absolute;
            bottom:-110%;
            left:0;
            width:100%;
            height:100%;
            background: @violet-bg;
            transition:all 0.7s;
            -webkit-transition:all 0.7s;
            -moz-transition: all 0.7s;

            p{
                text-align: center;
                font-size: 18px;
                color: @yellow-brand;
                letter-spacing: 1px;

            }

            .gym-hedq-text{
                color: @white-font;
                margin-top: 0px;
                margin-bottom: 0px;
                text-align: center;
                font-size: 13px;
            }



            .gym-icon-sede{
                margin-top: 20px;
                text-align: center;
                img{
                   width: 50px;
                   height: 50px;
                }

            }
        }

        a:hover .gym-cover{
            bottom:0;
        }
    }
}

.gym-galery{
    margin-top: 30px;

    .gym-titles{
        background: @violet-bg;
        color: @white-font;
    }

    .gym-filters{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

        span{
            color: @gray-light-font;
            background: @gray-font;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        a{
            color: @gray-light-font;
            margin-right: 20px;
            margin-left: 20px;
        }

        a:hover{
            color: @violet-bg;
            text-decoration: none;
        }

        .active{
            color: @violet-bg;
        }
    }
}

.gym-footer{
    margin-top: 50px;
    padding-bottom: 50px;
    background: @gray-light-fotter;

    .gym-footer-r{
        margin-top: 50px;
        padding-left: 80px;
        border-left: 1px solid;
        border-left-style: dotted;
        border-color: @yellow-brand;

        h3{
            font-size: 15px;
            color: @white-font;
            font-weight: lighter;
        }

        .gym-footer-righs{
            margin-top: 20px;
            color: @white-font;
            border-top: 1px solid @gray-light-bg;
            padding-top: 25px;

            p{
                margin-top: 5px;
                color: @white-font;
                margin-bottom: 0px;
                font-weight: lighter;
            }

            a{
                color: @white-font;
                font-weight: lighter;
                letter-spacing: 1;
            }
        }
    }
}


@media (max-width: 767px){

    .gym-nav-bar{
        .container{
            .navbar-header{
                .navbar-brand{

                    img{
                        height: 100%;
                    }
                }
            }
        }
    }

    .gym-button{


        input{
            width: 200px;
            text-align: left;
        }
    }

    .gym-titles{
        h1{

            font-size: 10px;
            letter-spacing: 1px;
            padding-bottom: 10px;
            padding-top: 10px;
        }
    }

    .gym-arrow-down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #f00;
    }

    .gym-menu-bar{
        margin-left: 0px;
        li{
            padding-left: 0px;

            .dropdown-menu{


                li{

                    width: 100%;
                    list-style-type: none;

                    a:hover{
                        list-style-type: none;

                    }

                }
            }
        }

        li.open{
            margin-left: -15px;
            padding-left: 15px;
            height: auto;


            a:focus{
                boder: 0px solid !important;
            }

            ul{
                position: absolute !important;
                background: @white-font !important;
            }

            .dropdown-menu{
                width: 100%;
            }
        }

    }

    .losange, .losange div {
        border: 2px solid;
        border-color: @yellow-brand;
        float: left;
        margin-top: 5px;
        margin-bottom: 2px;
        margin-left: 2px;
        transform-origin: 50% 50%;
        width: 30px;
        height: 30px;
    }
    .losange {
      transform: rotate(45deg) translateY(10px);
    }
    .losange .los1 {
      width: 40px;
      height: 40px;
      transform: rotate(-45deg) translateY(-15px) translateX(2px);
    }


    .gym-header-session{

        .gym-prof-link {
            float: left;
            margin-top: 15px;
            margin-left: 5px;
            font-size: 12px;

            div{
                width: 90px;
            }

            img{
                margin-top: 0px;
                margin-left: 0px;
            }

        }

         label{
            margin-top: 0px;
            margin-left: 36px;
            letter-spacing: 0px;
            font-size: 12px;
        }

        .gym-num-sesion-cnt{

            .gym-num-sesion{
                width: 40px;
                height: 40px;
                margin-top: 10px;
                a{
                    font-size: 12px;
                }
            }

            label{

                padding-right: 0px;
                border-right: 0px solid;
                margin-left: 5px;
                font-size: 9px;
                margin-top: 15px;
            }

            span{
                font-size: 10px;
            }
        }

        .gym-cnt-btn-head{
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
        }

    }

    .gym-corouse{
        z-index: 1000;
        position: relative;
        margin-top: 0px;

        .carousel-control{
            background: black;
            height: 90px;
            width: 50px;
            margin-top: 0px;
        }

    }

    .gym-benefits{

        .gym-benefits-text{
            border-right: 0px solid;
            height: 230px;
            img{
                margin-top: 10px;
                width: 50px;
            }

            .gym-ben-promo{
                margin-top: 10px;
                letter-spacing: 1;
                font-weight: lighter;
                font-size: 14px;
            }

            .gym-ben-exp{
                font-size: 12px;
                font-weight: lighter;
                margin-top: 0px;
                padding-bottom: 15px;

            }
        }
    }

    .gym-plans{
        margin-top: 0px;

        .gym-plan-cnt{



            .gym-plan-title{

                h2{

                    font-size: 12px;
                }

            }
        }



        .gym-plan-3{

            p{
                margin-bottom: 20px;
            }

        }

        .gym-plan-fot{
            p{

                margin-top: 20px;
                margin-left: 20px;

            }

        }


    }

    .gym-networks{

        padding-bottom: 20px;
        padding-top: 20px;

        .gym-networks-link{

            .gym-link-cnt{
                margin-left: 0px;


                a{
                    color: @yellow-brand;
                    font-size: 11px;

                    img{
                        margin-left: 15px;
                        width: 50px;
                        display: block;
                    }
                }

            }


        }
    }

    .gym-headquarters{

        margin-top: 0px;
    }

    .gym-galery{
        margin-top: 0px;


        .gym-filters{
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 12px;
            line-height: 3;

            a{

                margin-right: 12px;
                margin-left: 14px;
            }
        }
    }

    .gym-footer{
        margin-top: 0px;
        padding-bottom: 50px;

        .gym-footer-r{
            margin-top: 20px;
            padding-left: 20px;


            h3{
                margin-left: 10px;
            }


        }
    }

}
